<div class="jumbotron">
    <p class="lead">Here we rewrite a better documentation of a project about Web Development.</p>
    <hr class="my-4">
    <p>Let's contribute with Our community build something amazing.</p>
    <a class="btn btn-primary" href="/page/contribute" role="button">Learn more</a>
</div>
<div class="mb-4">
    <h3 class="h5">Contributors</h3>
    <p>Thanks for the contributions!</p>
    <table class="table table-striped">
        <tr>
            <td>
                <img src="https://avatars.githubusercontent.com/u/22680976?v=4" width="30" alt="">
            </td>
            <td>
                <a href="https://github.com/hdrxs312">hdrxs312</a>
            </td>
            <td>
                3 contributions
            </td>
        </tr>
    </table>
</div>
<div class="mb-4">
    <h3 class="h5">Links</h3>
    <ul>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/topikweb" target="_blank">Github repo -^</a></li>
    </ul>
</div>